{{!
##############################################
## Iteration 6 (Bonus): Editing Celebrities ##
############################################## }}

<h3>Update Celebrity</h3>

<form action='/celebrities/{{_id}}' method='POST'>
   <label for='create-name'>Name:</label>
   <input id='create-name' type='text' name='name' maxlength='20' value='{{name}}' /><br />
   <label for='create-occupation'>Occupation:</label>
   <input id='create-occupation' type='text' name='occupation' maxlength='20' value='{{occupation}}' /><br />
   <label for='create-catchPhrase'>Catch phrase:</label>
   <input id='create-catchPhrase' type='text' name='catchPhrase' maxlength='100' value='{{catchPhrase}}' /><br />
   <button class='btn btn-secondary mt-3'>Update Celebrity</button>
</form>
