<h3>List of Celebrities</h3>

<ul>
   {{#each celebrityList}}
      <li><a class='field' href='celebrities/{{_id}}'>{{name}}</a><form action='/celebrities/{{_id}}/delete' method='POST'><button class='btn btn-sm btn-secondary me-1'>Delete</button></form>
         <a href='/celebrities/{{_id}}/edit'><button class='btn btn-sm btn-secondary'>Update</button></a></li>
   {{/each}}
</ul>

<a href='/celebrities/create'><button class='btn btn-dark mt-3'>Create Celebrity</button></a>
