{{!
#############################################
## Iteration 3: The Celebrity Details Page ##
############################################# }}

<h2>Celebrity details:</h2>

<p>Name: {{name}}</p>
<p>Occupation: {{occupation}}</p>
<p>Catch phrase: {{catchPhrase}}</p>
