{{!
#############################################
## Iteration 3: The Celebrity Details Page ##
############################################# }}

<h3>Celebrity details</h3>

<ul>
   <li class='field'>Name: {{name}}</li>
   <li class='field'>Occupation: {{occupation}}</li>
   <li class='field'>Catch phrase: {{catchPhrase}}</li>
</ul>
