{{!
#####################################
## Iteration 10: Adding New Movies ##
##################################### }}

<h2>Add new Movies</h2>

<form action='/movies' method='POST'>
   <label for='create-title'>Title:</label>
   <input id='create-title' type='text' name='title' maxlength='20' /><br />
   <label for='create-genre'>Genre:</label>
   <input id='create-genre' type='text' name='genre' maxlength='20' /><br />
   <label for='create-plot'>Plot:</label>
   <input id='create-plot' type='text' name='plot' maxlength='100' /><br />
   <button>Add Movie</button>
</form>
