{{!
#####################################
## Iteration 8: Listing Our Movies ##
##################################### }}

<h2>List of Movies</h2>

<ul>
   {{#each movieList}}
      <li><a href='movies/{{_id}}'>{{title}}</a><form action='/movies/{{_id}}/delete' method='POST'><button>Delete Movie</button></form><a href='/movies/{{_id}}/edit'><button>Update Movie</button></a></li>
   {{/each}}
</ul>

<a href='/movies/create'>Create Movie</a>
