{{!
#########################################
## Iteration 9: The Movie Details Page ##
######################################### }}

<h2>Movie details</h2>

<p>Title: {{title}}</p>
<p>Genre: {{genre}}</p>
<p>Plot: {{plot}}</p>
